#login {
	padding: 15px;
	width: 97%;
	font-size: 100%;
	background-color: #282828;
	color: white;
	border-color: transparent;
	box-shadow: 0 3px #999;
}
#login:hover {
	cursor: pointer;
}
#login:active {
	box-shadow: 0 2px #666;
	transform: translateY(1px);
}
