#play-border {
	margin-top: 250px;
	align-items: center;
	border-radius: 50%;
	width: 340px;
	height: 340px;
	background-color: whitesmoke;
}
#play-box {
	margin-top: 20px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	align-items: center;
	background-color: #c0c0c0;
}
#play-triangle {
	margin-top: 75px;
	margin-left: 25px;
	width: 150px;
	height: 150px;
	background-image: url('../images/play-triangle.png');
	background-repeat: no-repeat;
}